
<div>
<button type="submit' name="a">A</button>
<button type="submit' name="b">B</button>
<button type="submit' name="c">C</button>
<button type="submit' name="d">D</button>
<button type="submit' name="e">E</button> 
</div>
<br>
<div>
<button type="submit' name="f">F</button>
<button type="submit' name="g">G</button>
<button type="submit' name="h">H</button>
<button type="submit' name="i">I</button>
<button type="submit' name="j">J</button> 
</div>
<br>
<div>
<button type="submit' name="k">K</button>
<button type="submit' name="l">L</button>
<button type="submit' name="m">M</button>
<button type="submit' name="n">N</button>
<button type="submit' name="o">O</button> 
</div>
<br>
<div>
<button type="submit' name="p">P</button>
<button type="submit' name="q">Q</button>
<button type="submit' name="r">R</button>
<button type="submit' name="s">S</button>
<button type="submit' name="t">T</button> 
</div>
<br>
<div>
<button type="submit' name="u">U</button>
<button type="submit' name="v">V</button>
<button type="submit' name="w">W</button>
<button type="submit' name="x">X</button>
<button type="submit' name="y">Y</button> 
</div>
<br>
<div>
<button type="submit' name="z">Z</button> 
</div>
<br>
<div>
<button type="submit' name="0">0</button>
<button type="submit' name="1">1</button>
<button type="submit' name="2">2</button>
<button type="submit' name="3">3</button>
<button type="submit' name="4">4</button> 
</div>
<br>
<div>
<button type="submit' name="5">5</button>
<button type="submit' name="6">6</button>
<button type="submit' name="7">7</button>
<button type="submit' name="8">8</button>
<button type="submit' name="9">9</button> 
</div>
<br>
